html, body{
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Federo', cursive;
}

#Home{
    display: block;
    flex-wrap: wrap;
    text-align: center;
}


.buttonBox{
  position:relative;
  margin: 12% 42%;
  width:15%;
}


button{
  width:100%;
  height:50px;
  position:relative;
  text-transform:uppercase;
  background-color: rgba(0,0,0,0.0);
  color:white;
  font-weight:700;
  letter-spacing:1px;
  border:none;
  font-size:1.4em;
  outline:none;
  text-shadow: 0 20px 20px black;
  font-family: 'Federo', cursive!important;
}
button:hover{
    cursor:pointer;

}

.border{
    position:absolute;
    background:none;
    transition:all .5s ease-in-out;
}

#satu>.border:nth-of-type(1){
  top:0;
  left:0;
  border-left:1px solid white;
  border-top:1px solid white;
  width:30px;
  height:30px;
}

#satu>.border:nth-of-type(2){
  bottom:0;
  right:0;
  border-right:1px solid white;
  border-bottom:1px solid white;
  width:30px;
  height:30px;
}

#satu:hover .border{
  width:102%;
  height:105%;
}

#satu:hover{
    cursor: pointer;
}


h1{
  color:#FFF;
  margin: 18% 0 0 0;
  display:block;
  text-align: center;
  font-size: 60px;
  text-shadow: 0 0 20px #000;
  letter-spacing: 3px;
 }
h2{
  margin:0px;
  color:#FFF;
  display:block;
  text-align: center;
  text-shadow: 0 0 20px #000;
  font-size: 30px;
  letter-spacing:8px;
}
            
.fondo { 
  width: 100%;
  height: 100%;
  overflow:hidden;
  background: rgb(91, 91, 91);
  float: left;
  background-image: url(https://i.postimg.cc/YCDkrwrn/bts-1.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right bottom; 
  animation: transitionImage 30s infinite;
  -webkit-animation: transitionImage 30s infinite;
  -moz-animation: transitionImage 30s infinite;
}

 @keyframes transitionImage {
   0% {
     background-position: right bottom;background-image: url(https://i.postimg.cc/YCDkrwrn/bts-1.jpg);opacity:1;}
   20% {background-position: 0 0;opacity:0.5;background-image: url(https://i.postimg.cc/HLJmjPjp/bts-2.jpg);}
   30% {}
   35% {opacity:1;}
   50% {background-position:left bottom; opacity:0.5;background-image: url(https://i.postimg.cc/hGHBmb7V/bts-3.png);}
   60% {}
   65% {opacity:1;}
   80% {background-position:right top; opacity:0.5;background-image: url(https://i.postimg.cc/YCDkrwrn/bts-1.jpg);}
   90% {}
   100% {background-position: right bottom;opacity:1;}
}

@-webkit-keyframes transitionImage {
  0% {background-position: right bottom;background-image: url(https://i.postimg.cc/YCDkrwrn/bts-1.jpg);opacity:1;}
  20% {background-position: 0 0;opacity:0.5;background-image: url(https://i.postimg.cc/HLJmjPjp/bts-2.jpg);}
  30% {}
  35% {opacity:1;}
  50% {background-position:left bottom; opacity:0.5;background-image: url(https://i.postimg.cc/hGHBmb7V/bts-3.png);}
  60% {}
  65% {opacity:1;}
  80% {background-position:right top; opacity:0.5;background-image: url(https://i.postimg.cc/YCDkrwrn/bts-1.jpg);}
  90% {}
  100% {background-position: right bottom;opacity:1;}
}
@-moz-keyframes transitionImage {
  0% {
    background-position: right bottom;
    background-image: url(https://i.postimg.cc/YCDkrwrn/bts-1.jpg);opacity:1;}
  20% {
    background-position: 0 0;
    opacity:0.5;
    background-image: url(https://i.postimg.cc/HLJmjPjp/bts-2.jpg);}
  30% {}
  35% {opacity:1;}
  50% {
    background-position:left bottom;
    opacity:0.5;
    background-image: url(https://i.postimg.cc/hGHBmb7V/bts-3.png);}
  60% {}
  65% {opacity:1;}
  80% {
    background-position:right top; 
    opacity:0.5;
    background-image: url(https://i.postimg.cc/YCDkrwrn/bts-1.jpg);}
  90% {}
  100% {background-position: right bottom;opacity:1;}
}
section{
  margin:70px auto;
}
